html {
    background-color: rgba(220, 218, 255, 0.855);
}

.yay {
    padding: 90px 90px 90px;
}
h1 {
    font-size: 70px;
    font-family: 'Yeseva One', serif;
    text-align: center;
}
h3 {
    font-family: 'Comfortaa', sans-serif;
}
img {
    width: 200px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    font-size: 25px;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(32, 22, 57);
}
li {
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(32, 22, 57);
    text-align: center;
}
ul {
    text-align: center;
    list-style-position: inside;
}
nav {
    color: rgb(51,102,204);
    font-family: 'Comfortaa', sans-serif;
}